@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";

.body {
  padding: 0px;
  margin: 0px;
}

.img-wellcome {
  margin-top: 100px;
}

.text-wellcome {
  margin-top: 100px;
}

.row-1 {
  background-color: #6cdeff;
}

nav {
  background-color: #6cdeff;
}

.jumbotron {
  padding-top: 5rem;
  background-image: url(img/foam-cover.jpg);
  background-attachment: fixed;
}

.about {
  background-color: #ffffff;
  padding-top: 5px;
}

.portfolio {
  background-color: #6cdeff;
}

.contact {
  background-color: #6cdeff;
}

.card {
  border: none;
  background-color: #437070;
  border-radius: 20px;
}

.medias {
  width: 55%;
  height: 70px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medias a {
  color: var(--colord);
  display: inline-block;
  margin-bottom: 60px;
  text-shadow: var(--shadow1);
}

.medias a:hover {
  color: var(--color2);
}

.media {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 13px 0;
  font-size: 23px;
  box-shadow: var(--shadow1);
}

.map {
  width: 100%;
  height: 400px;
  padding: 6px;
  border-radius: 30px;
  border: none;
  box-shadow: var(--shadow2);
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 7px 0;
  background-color: var(--footercol);
  box-shadow: var(--ushadow);
}

footer p {
  text-align: center;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
